@import url("app.css");

.folklore-card {
  position: relative;
  width: 85vw;                /* ~85% of screen width, scales nicely */
  max-width: 360px;           /* never larger than a small tablet */
  aspect-ratio: 17.2 / 11.5;  
  overflow: hidden;
  color: var(--background);
  padding: 20px;
}

/* two stacked bg layers; we just fade the top one */
.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity .35s ease;
}
.bg--one { opacity: 1; }
.bg--two { opacity: 0; }
.folklore-card.is-expanded .bg--two { opacity: 1; }
.folklore-card.is-expanded .bg--one { opacity: 0; }

/* corner menu */
.menu-area {
  position: absolute; top: 0; right: 1vw;
  display: flex; gap: 8px; z-index: 2;
}
.menu-btn {
  background: none;
  border: none;
  padding: 1.4vh 1.6vw;
  cursor: pointer; 
  transition: transform .2s,
}
.menu-btn img { width: 30px; height: 30px; }

.icon-btn1, .icon-btn2 {
  background: none;
  border: none;
  padding: 6px; cursor: pointer; transition: transform .2s;
  margin: 0 -1.1vw 0 4.5vw;
}

.icon-btn1 img, .icon-btn2 img { width: 40px; height: 50px; }

/* text + character */
.text-content { position: absolute; left: 4vw; top: 2vh; width: 60%; z-index: 2; }
.text-content h2 { margin: 0 0 8px; font-family: "Cinzel", serif; font-size: 2rem; font-family: Kastroz;}
.text-content p { margin-top: 3vh; font-size: 1.1rem; line-height: 1.2; font-weight: 500; }

.character {
  position: absolute; right: -36vw; bottom: -15vh; height: 35vh;
  object-fit: contain; z-index: 2; pointer-events: none;
}
